
<% provide(:titre, 'A Propos') %>

<h1>A propos</h1>

<p>
  Cette application a été développée en Ruby à l'aide du framework Ruby On Rails.
</p>

<p>
  Pour plus d'informations, vous pouvez lire cet excellant livre:
  <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" 
     title="Ruby On Rails Tutorial"
     >
    Ruby On Rails Tutorial
  </a>
</p>