
<% provide(:titre, 'Contact') %>

<h1>Contact</h1>

<p>
  Vous pouvez me contacter à l'adresse suivante :
  <a href="mailto:paulin.trognon@gmail.com"
     title="Envoyer un email à Paulin"
     >
    paulin.trognon@gmail.com
  </a>
</p>