
.mainLine {
    
    border: none;
    border-top: solid;
}

.detailLine {
    border: none;
    
    .description {
        padding-left: 50px;
        color: #666666;
    }
}

table tr .money {
    text-align: right;
}
