<footer class="footer">
  <small>
    Créé par <a href="https://github.com/OGRE7" alt="OGRE7 Github" title="Mon GitHub">OGRE7</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "A propos", a_propos_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>