
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      <h1 id="app-titre">Ystava</h1>
        <nav>
          <ul class="nav">
            <li><%= link_to "Résumé",    '#' %></li>
            <li><%= link_to "Liste des participants",    '#' %></li>
            <li><%= link_to "Ajouter une contribution", '#' %></li>
            <li><%= link_to "Liste des contribution", '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>